* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
     background-position: center;
    background-size:200vmin;
    background: linear-gradient(45deg, rgba(80,19,115,1) 0%, rgba(0,0,0,1) 100%) !important; 
    background-repeat: no-repeat;
  }
  #check {
    display: none;
  }
  label #btn,
  label #cancle {
    position: absolute;
    cursor: pointer;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(128, 135, 148, 0.562);
    color: rgb(4, 145, 216);
    border-radius: 3px;
  }
  
  label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(14, 186, 243);
    padding: 6px 12px;
    transition: all 0.5s;
  }
  #cancle {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s;
  }
  /* active side bar */
  .sidebar {
    position: absolute;
    
    left: -250px;
    width: 250px;
    float: left;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(128, 135, 148, 0.562);
    transition: all 0.5s ease;
    
    
  }
  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancle {
    left: 245px;
  }
  #check:checked ~ section {
    margin-left: 250px;
  }
  .sidebar header img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: 
  
  0px 0px 2px #5f5f5f,
  0px 0px 0px 7px #ecf0f3,
  8px 8px 15px #a7aaaf,
  -8px -8px 15px #ffffff
  ;
  }
  .sidebar header {
    font-size: 24px;
    color: rgb(57, 57, 57);
    text-align: center;
    line-height: 30px;
    background: #dde1e7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
  }
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 56px;
    font-size: 18px;
    color: rgb(68, 68, 68);
    padding-left: 40px;
    box-sizing: border-box;
    margin-top: 12px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(128, 135, 148, 0.562);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.4s;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }
  /* hover effect */
  ul li:hover a {
    padding-left: 70px;
    color: rgb(0, 158, 216);
    box-shadow: inset -1px -1px 2px #dde1e7;
  }
        
  /* Social Links */
  .social-links i {
    padding: 10px;
    margin-left: 16px;
    margin-top: 10px;
    color: rgb(4, 61, 118);
    background: #dde1e7;
    font-size: 20px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(128, 135, 148, 0.562);
  }
  /* icons hover effect */
  .social-links i:hover {
    color: rgb(0, 170, 255);
  }
   
  .sidebar header p {
    padding: 15px;
  }
  
#grid-col {
  grid-column-gap: 30px;
      display: grid;
     height: 300px;
    grid-template-columns: 25% 25% 25%; 
  }
 
  div.cell {
    background-color: rgba(255,255,255,0.13);
    background: rgba(255, 255, 255, 0.13);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
 
  }
  .cell h3 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  @media screen and (max-width: 640px) {
    #grid-col { grid-template-columns: 100%; }
  }

  .wrapper{
    position:relative;
    top: 50px;
 left: 280px;
  }
h1 {
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: center; 
    line-height: 30px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 56px;
    font-size: 18px;
    color: rgb(68, 68, 68);
    padding-left: 40px;
    box-sizing: border-box;
    margin-top: 12px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(128, 135, 148, 0.562);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.4s;
  }