*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {

	background: rgb(80,19,115);
	background: linear-gradient(45deg, rgba(80,19,115,1) 0%, rgba(0,0,0,1) 100%) !important; 
	color: #fff;
}
header {
	margin-right: auto;
	margin-left: auto;


}

h1.logo {
	color: #ffffff;
	font-size: 46px;
	font-weight: 400px;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	letter-spacing: 7px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 15px;


}
h1, h2, h3, h4, td, .info {
	font-family: 'Poppins', sans-serif;
}

nav {

	text-align: center;
}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;

}
.menu > li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #BEDCFA;
}

.menu > li:first-child {
	border-left: 1px dashed #BEDCFA;
}

.menu a {
	text-decoration: none;
	color: #6987A5; 
	display: block;
}
.menu a:hover {
	color: #BEDCFA;
	background-color: #07044A;
	
}
.menu li:hover {
	background-color: #07044A;
}
.content {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	
}
main {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	width: 1000px;
	padding: 15px;

}
aside {
	float: left;
	padding: 15px;
	margin-top: 15px;
	margin-left: 15px;
	min-height: 400px;
	width: 200px;

	text-align: center;
}
footer {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: rgba(80,19,115,0.5);
	color: #6987A5; 
	text-align: center;
	
}
h2 {
	color: #BEDCFA;

}
.info {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgba(255,255,255,0.75);
}

.sub, .mail, .in, .al, .gr, .schl, .kier
{
	font-size: 26px;
	margin: 2px;
}

span
{
	font-size: 16px;
	margin: 0 2px 0 2px;
	justify-content: center;
}
.socials
{
	
	margin-left: 55px;
	margin-right: 55px;
}

#zapowiedzi {
	display: flex;
	gap: 4vmin;
	
}

#zapowiedzi > .image{
	width: 40vmin;
	height: 56vmin;
	object-fit: cover;
	object-position: center;
}

.fbicon
{
	padding: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.fb:hover
{
	background-color: #4668b3;
}

.tw
{
	padding: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.tw:hover
{
	background-color: #3095d3;
}
.insta
{
	padding: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.insta:hover
{
	background-color: #D8DFDC;
}
.zapowiedz {
	display: inline-block;
}
figure {
	float: left;
	width: 200px;
	height: 260px;
	text-align: center;
}
figcaption {
	
	text-align: center;
}
 img {
	
	padding: 5px;
}
.movie {
	min-height: 280px;
	padding: 10px;
}
.opis {
	display: inline-flex;
	width: 650px;
	margin-left: 5px;
	padding-top: 10px;
}


.rzad {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.nr {
	text-align: center;
	height: 30px;
	width: 30px;
	display: inline-block;
}
#ekran {
	width: 300px;
	height: 20px;
	background-color: gray;
	text-align: center;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black;
}
.sala {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
}
.dane {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#dates{
display: inline-flex;
text-align: center;
  width: 650px;
  height: 200px;
 
  margin-left: 2px;
  margin-top: 2px;
}

div.day{
  width: 110px;
  height: 90px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  display: inline-flex;
  border-right: 1px double;
}
div.day a
{
	background:  #A4A3B7;
	text-decoration: none;
	
	border: none;
padding: 1px;
margin: 5px;

}
div.day a input
{
	background:  #A4A3B7;
	height: 16px;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 3px;
	margin-right: 3px;
	border: none;
	padding: 2px;

}

div.day a:hover
{
	border: none;
	background:  #17144a;
	cursor: pointer;

}
div.day input:hover
{
	border: none;
	background:  #17144a;
	cursor: pointer;
	color: #A4A3B7;
	font-weight: bold;
}

.day form{
margin-left: auto;
  margin-right: auto;
}
.day form input{
	display: inline-flex;
	margin-top: auto;
  margin-bottom: auto;
}
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color: #D8DFDC;
  text-align: center;

}

input[type="checkbox"] + label span {
    display:inline-block;
    width:25px;
    height:25px;

    font-size: 15px;
    margin: 5px 5px 0 0;
    vertical-align: middle;
    background-color: #000000;
    cursor:pointer;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    border-radius: 20%;

}

input[type="checkbox"]:checked + label span {
    background-color: #3E4D47;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

input[type="checkbox"]:disabled + label span {
    background-color: #c10115;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

#lp {
	width:25px;
    height:25px;
    font-size: 15px;
    text-align: left;
    margin: 5px 5px 0 0;
	display: inline-block;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    appearance: button;
    text-decoration: none;
    border: none;
    color: #000000;
    background: #fff;
    font-size: 22px;
    cursor: pointer;
	padding: 10px 14px;
	margin: 15px;
	transition: background 2s, color 2s;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -20px;
    top: -20px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -20px;
    bottom: -40px;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: ‘Poppins’,sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
	margin-top: 30px;
	display: flex;
  }
  .social div{
	width: 150px;
	border-radius: 3px;
	padding: 5px 10px 10px 5px;
	background-color: rgba(255,255,255,0.27);
	color: #eaf0fb;
	text-align: center;
  }
  .social div:hover{
	background-color: rgba(255,255,255,0.47);
  }
  .social .fb{
	margin-left: 25px;
  }
  .social i{
	margin-right: 4px;
  }
  

a.button:hover {
	background: transparent;
	color: #440b2a;
	border: none;
}
a.panel {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
	transition: background 2s, color 2s;
}
a.panel:hover {
	background: transparent;
	color: #BEDCFA;
	border: none;
}
#footer_sala{
  width: 600px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: auto;
	margin-right: auto;
  text-align: center;

}


input.btn{
	
	border: none;
	background: #000000;
	color: #fff;
	cursor: pointer;
	font-size: 22px;
	padding: 10px 14px;
	margin: 15px;
	transition: background 2s, color 2s;
}

input.btn:hover {
	background: transparent;
	color: #440b2a;
}

td, th 
{
	padding: 2px 4px;
	text-align: left;

}

